table td{
    border: none;
}
p{
    font-family: saoFont-regular;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: sao-regular;
}
@font-face {
    font-family: saoFont-bold;
    src: url(../html/sao-ui/SAOUI-Bold.otf);
}
@font-face {
    font-family: sao-regular;
    src:url(../html/sao-ui/SAOUI-Regular.otf)
}
#pageLinkCol{
    font-family: saoFont-bold;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    height: 30px;
    background-color: green;
    font-size: 20px;
    color: white;
    padding:15px;

    transition: opacity 0.15s;
}
#pageLinkCol:hover{
    opacity: 0.7;
}
input{
    border-radius: 10px;
    border-style: solid;
}
.nightMode{
    align-self:center;
    font-size: 30px;
    border-color: white;
    border-radius: 8px;
    border-style: solid;
    background-color: white;
    cursor: pointer;

    position: fixed;
    top: 0px;
    right: 0px;
    transition: shadow 0.15s;
}
.nightMode:hover{
    
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.082);
}

.mathSubmit{
    color:rgb(41, 41, 41);
    background: linear-gradient(to bottom, rgb(255, 208, 0), rgb(255, 245, 153));
    border-radius: 0.5px;
    border-color: rgb(197, 128, 0);
    border-style: solid;
    border-width: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;

    transition: box-shadow 0.15s, opacity 0.15s;
}
.mathSubmit:hover{
    box-shadow: 0 0 5px rgb(195, 221, 80);
    cursor: pointer;
}
.mathSubmit:active{
    opacity: 0.6;
}