
.thumbnail{
    width: 100%;
}



.videoInfo{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.title{
    margin: 0px;
    width: 250px;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}
.stats, .name{
    color:rgb(96, 96, 96);
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    margin-top: 0px;
}
.name{
    margin-bottom: 4px;
}

.channelPicture{
    display: inline-block;
    width: 36px;
    vertical-align: top;
}
.channelInfo{
    width: 200px;
    margin-top: 12px;
    display: inline-block;
    margin-left: 4px;
}
.profilePicture{
    margin-top: 12px;
    width: 100%;
    border-radius: 25px;
    vertical-align: center;
}

.root{
    right: 55px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
    background-color: rgb(249, 249, 249);
    border-top: 2px;
    border-top-style: solid;
    border-top-color: rgb(190, 190, 190);
    border-top-width: 1px;
    padding: 20px;
}

body{
    padding-top: 55px;
    margin: 0px;
    padding-left: 75px;
}

.hamburgerMenu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.logo{
    height: 24px;
}
.logo:hover{
    cursor: pointer;
}

.header{
    position: fixed;
    background-color: white;
    display: flex;
    height: 55px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
}
.leftSection{
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.middleSection{
    flex: 1;
    margin-right: 35px;
    max-width: 500px;

    display: flex;
    align-items: center;
}
.rightSection{
    display: flex;
    width: 200px;
    vertical-align: top;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}
.search{
    height: 38px;
    width: 66px;

    background-color: rgb(243, 243, 243);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);

    margin-left: -1;
    margin-right: 8px;
}
.search .tooltip, .voice .tooltip{
    position: absolute;
    background-color: rgb(99, 99, 99);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    bottom: -50px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    color: white;
    white-space: nowrap;
    
    transition: opacity 0.15s;
}
.search:hover .tooltip, .voice:hover .tooltip{
    opacity: 0.7;
}

.voice{
    height: 39px;
    width: 40px;
    border-radius: 20px;
    border-width: 1px;
    border: none;
    background-color: rgb(245, 245, 245);
}

.search, .voice{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.uploadIcons, .appsIcon, .notIcons, .channelIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.uploadIcons .tooltip, .appsIcon .tooltip, .notIcons .tooltip, .channelIcon .tooltip{
    position: absolute;
    background-color: rgb(99, 99, 99);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    bottom: -50px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    color: white;
    white-space: nowrap;
    
    transition: opacity 0.15s;
}
.uploadIcons:hover .tooltip, .channelIcon:hover .tooltip, .appsIcon:hover .tooltip, .notIcons:hover .tooltip{
    opacity: 0.7;
}

.seachBar{
    display: block;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    flex: 1;
    width: 0;
}
.searchBar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.searchIcon{
    margin-top: 4px;
    height: 25px;
    
}
.voiceIcon{
    height: 24px;
    margin-top: 4px
}

.upload{
    height: 30px;
    margin-right: 9px;
}
.notifications{
    height: 30px;
    margin-right: 9px;
}
.apps{
    height: 30px;
    margin-right: 9px;
}
.myChannel{
    height: 35px;
    margin-right: 9px;
}
.sidebar{
    position: fixed;
    flex-direction: column;
    width: 75px;
    justify-content: start;
    align-items: center;
    top: 55px;
    bottom: 0px;
    left: 0px;
    display: flex;
}

.pageRoot{
    display: flex;
}

.sideButton{
    height: 75px;
    width: 75px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    transition: background-color 0.1s;
}
.sideButton:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}
.sideButton img{
    height: 30px;
    align-self: center;
    padding-bottom: 5px;
}
.sideButton p{
    font-size: 10px;
    font-family: Roboto, Arial;
    text-align: center;
}